body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    margin-bottom: 5%;
}




#message, #auto {
    position: absolute;
    display: none; /* Alapértelmezett állapotban rejtve */
    text-align: center;
}


#or{
    width: 15%;
    height: 20%;

}

#autokep{
    width: 30%;
    height: 15%;
    float: right;
}

#startBgdiv{
    background-image: url('/zold.jpg');
    background-position: center;
    background-size: cover;
    padding: 7%;
    border: 2px black solid;
    border-radius: 8px;
    color: white;
}

#letartoztatdiv{
    background-image: url('/racs.avif');
    background-position: center;
    background-size: cover;
    padding: 7%;
    border: 2px black solid;
    border-radius: 8px;
    color: white;
}


.col{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bolder;   
    height: 70px;
    width: 200px;
    padding: 7%;

}
.container2{
    width: 60%;
    margin-top: 2%;
}
